body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#leave-list {
    margin-top: 20px;
    text-align: center;
}

#leave-requests {
    list-style: none;
}

#leave-requests li {
    margin: 10px;
}
